.containerProductDescription {
  padding: 34px 195px 38px 195px;
  width: 100%;
  min-height: 572px;
  &_upper {
    width: 492px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  &_item {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #737373;
    &:before {
      content: "";
      position: absolute;
      bottom: 0%;
      width: 0;
      height: 1px;
      background: #737373;
      transition: all 0.3s linear;
    }
    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
  hr {
    margin-top: 28px;
    border: 1px solid #ececec;
    width: 100%;
    height: 0px;
  }
  &_lowwer {
    margin-top: 17px;
    &_descr {
      display: none;
      justify-content: space-between;
    }
    &_info,
    &_reviews {
      display: none;
    }
    .active {
      display: flex;
    }
    .none {
      display: none;
    }
  }
  &_image {
    border-radius: 9px;
    width: 316px;
    height: 372px;
    img {
      box-shadow: 10px 8px 3px 2px rgba(196, 196, 196, 0.2);
    }
  }
  &_middle {
    margin-left: 20px;
    width: 332px;
    min-height: 427px;
  }
  &_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #252b42;
  }
  &_text {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #737373;
  }
  &_left {
    padding-left: 15px;
    width: 332px;
    min-height: 367px;
  }
  &_list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_listitem {
    width: 312px;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 171%;
      letter-spacing: 0.01em;
      color: #737373;
    }
  }
}

[data-list="mt25"] {
  margin-top: 25px;
}

@media (max-width: 1440px) {
  .containerProductDescription {
    padding: 34px 100px 38px 100px;
  }
}

@media (max-width: 1200px) {
  .containerProductDescription {
    padding: 34px 80px 38px 80px;
    min-height: unset;
    &_image {
      height: 100%;
    }
    &_left {
      width: 150px;
    }
  }
}

@media (max-width: 992px) {
  .containerProductDescription {
    &_lowwer {
      &_descr {
        display: grid;
        grid-template-columns: minmax(220px, 300px) minmax(300px, 450px);
        gap: 3%;
      }
      .active {
        display: grid;
      }
    }
    &_image {
      width: 100%;
      img {
        box-shadow: 10px 8px 3px 2px rgba(196, 196, 196, 0.2);
      }
    }
    &_middle {
      width: 100%;
      margin-left: 0;
      min-height: unset;
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
    &_text {
      margin-top: 15px;
    }
    &_left {
      align-items: baseline;
      display: flex;
      gap: 10%;
      width: unset;
      min-height: unset;
    }
    &_listitem {
      width: unset;
    }
  }
}

@media (max-width: 768px) {
  .containerProductDescription {
    padding: 34px 40px 38px 40px;
    &_lowwer {
      &_descr {
        display: flex;
        flex-direction: column;
      }
      .active {
        display: flex;
      }
    }
    &_image {
      width: unset;
      margin: 0 auto;
    }
    &_middle {
      margin-top: 30px;
    }
    &_title {
      text-align: center;
    }
    &_left {
      padding-left: 0;
      justify-content: center;
    }
    &_listitem {
      height: unset;
    }
  }
}

@media (max-width: 576px) {
  .containerProductDescription {
    padding: 34px 30px 38px 30px;
    &_upper {
      width: 100%;
      flex-direction: column;
      gap: 2%;
    }
    hr {
      display: none;
    }
    &_lowwer {
      margin-top: 50px;
      padding: 0 10px;
    }
    &_middle {
      margin-top: 55px;
    }
    &_left {
      flex-direction: column;
      margin-top: 55px;
    }
  }
}
