.containerForm {
  width: 321px;
  height: 131px;
  &_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
  }
  &_form {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 58px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;

    width: 321px;
    height: 58px;
  }
  &_email {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #737373;
    background: #f9f9f9;
    height: 100%;
    width: 213px;
    padding: 0 15px;
    outline: none;
    border-radius: 5px 0 0 5px;
  }
  &_subscribe {
    position: absolute;
    top: -1px;
    right: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0 5px 5px 0;
    padding: 15px 20px;
    height: 58px;
    background: #23a6f0;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
    &:hover {
      background: #096da7;
      transition: all 0.2s linear;
    }
  }
  &_text {
    font-weight: 400;
    font-size: 12px;
    line-height: 233%;
    letter-spacing: 0.02em;
    color: #737373;
  }
}

@media (max-width: 768px) {
  .icons {
    &_form {
      height: 30px;
      bottom: -24px;
      input {
        width: 85%;
      }
      button {
        width: 15%;
        border-radius: 0;
      }
    }
  }
}
