@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  height: 100%;
}

.container {
  max-width: unset;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  margin-top: 5px;
  height: 40px;
  color: red;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .error {
    height: unset;
    margin-top: 0;
  }
}

@media (max-width: 578px) {
  .error {
    height: unset;
    margin-top: 5px;
  }
}
