.containerProductItem {
  padding: 24px 195px 48px 195px;
  background: #fafafa;

  &_top {
    padding: 10px 0px;
    width: 119px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #252b42;
    span {
      color: #bdbdbd;
    }
  }
  &_image {
    width: 10px;
    height: 16px;
  }
  &_bottom {
    margin-top: 24px;
    display: flex;
    gap: 30px;
  }
  &_left {
    width: 510px;
    // height: 550px;
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  &_upper {
    width: 100%;
    height: 450px;
    position: relative;
    &:hover {
      .containerProductItem_arrowLeft,
      .containerProductItem_arrowRight {
        display: block;
      }
    }
  }
  &_img {
    width: 100%;
    height: 100%;
  }
  &_arrowLeft {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(60%);
    left: 7%;
    &:hover {
      left: 6.5%;
    }
  }
  &_arrowRight {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(60%);
    right: 7%;
    &:hover {
      right: 6.5%;
    }
  }
  &_lowwer {
    height: 75px;
    width: 100%;
  }
  &_pictures {
    display: flex;
    gap: 19px;
  }
  &_picture {
    cursor: pointer;
    width: 100px;
    height: 75px;
    &:hover {
      box-shadow: 2px 3px 12px 2px rgba(1.322, 1.56, 1.117, 0.5);
      scale: 1.04;
    }
  }
  &_right {
    padding: 11px 31px 24px 24px;
    width: 510px;
    height: 471px;
  }
  &_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
  }
  &_rate {
    margin-top: 12px;
    width: 221px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #737373;
  }
  &_stars {
    width: 130px;
    display: flex;
    justify-content: space-between;
  }
  &_price {
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252b42;
  }
  &_availability {
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #737373;
    span {
      color: #23a6f0;
    }
  }
  &_descr {
    margin-top: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #858585;
  }
  hr {
    margin-top: 27px;
    border: 1px solid #bdbdbd;
    width: 100%;
  }
  &_circles {
    margin-top: 29px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    div {
      cursor: pointer;
      &:hover {
        scale: 1.15;
      }
    }
  }
  &_buttons {
    margin-top: 67px;
    width: 300px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_select {
    border-radius: 5px;
    padding: 10px 20px;
    width: 150px;
    background: #23a6f0;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
    &:hover {
      background: #096da7;
      transition: all 0.2s linear;
    }
  }
  &_logos {
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    border: 1px solid #e8e8e8;
    border-radius: 45px;
    width: 40px;
    height: 40px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      scale: 1.1;
      box-shadow: 0 0 5px 0.5px #23a6f0;
    }
    img {
      width: 20px;
    }
  }
}

[data-color="blue"] {
  width: 30px;
  background: #23a6f0;
  border-radius: 100%;
}

[data-color="green"] {
  width: 30px;
  background: #2dc071;
  border-radius: 100%;
}

[data-color="orange"] {
  width: 30px;
  background: #e77c40;
  border-radius: 100%;
}

[data-color="black"] {
  width: 30px;
  background: #252b42;
  border-radius: 100%;
}

@media (max-width: 1440px) {
  .containerProductItem {
    padding: 24px 100px 48px 100px;
    &_left {
      gap: 21px;
      justify-content: unset;
    }
    &_upper {
      max-height: 450px;
      max-width: 506px;
      height: unset;
      width: unset;
    }
    &_right {
      width: unset;
    }
    &_description {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_rate,
    &_price,
    &_availability,
    &_descr,
    hr,
    &_circles,
    &_buttons {
      margin-top: 0;
    }
  }
}

@media (max-width: 1200px) {
  .containerProductItem {
    padding: 24px 80px 48px 80px;
    &_left {
      align-items: center;
    }
    &_upper {
      height: 90%;
      width: 90%;
    }
    &_lowwer {
      width: 90%;
    }
    &_right {
      height: unset;
      padding: 11px 0px 105px 0px;
    }
    &_circles {
      width: 120px;
      height: 25px;
      div {
        width: 25px;
      }
    }
  }
}

@media (max-width: 992px) {
  .containerProductItem {
    padding: 24px 40px 48px 40px;
    &_left {
      align-items: unset;
    }
    &_right {
      padding: 11px 0 0 0;
    }
    &_upper,
    &_lowwer {
      width: unset;
    }
    &_description {
      min-height: 80%;
      height: unset;
    }
  }
}

@media (max-width: 768px) {
  .containerProductItem {
    &_bottom {
      flex-direction: column;
    }
    &_left {
      width: 100%;
    }
    &_upper {
      width: 90%;
      height: unset;
      max-height: unset;
    }
    &_right {
      height: 400px;
    }
    &_description {
      height: 100%;
    }
  }
}

@media (max-width: 576px) {
  .containerProductItem {
    &_upper {
      width: 100%;
    }
    &_picture {
      width: 75px;
    }
    &_right {
      height: unset;
    }
    &_rate {
      margin-top: 12px;
    }
    &_price {
      margin-top: 20px;
    }
    &_availability {
      margin-top: 5px;
    }
    &_descr {
      margin-top: 32px;
    }
    hr {
      margin-top: 16px;
    }
    &_circles {
      margin-top: 19px;
    }
    &_buttons {
      margin-top: 48px;
      width: unset;
    }
    &_select {
      padding: 10px 5px;
      width: unset;
    }
    &_logos {
      width: unset;
    }
  }
}
