footer {
  position: relative;
  padding: 0 195px;
  hr {
    border: 1px solid #e6e6e6;
    width: 100%;
    height: 0px;
    display: block;
    margin: 0 auto;
    // padding: 0 195px;
    // position: absolute;
    // left: 50%;
    // transform: translateX(-50%);
    // top: 138px;
  }
}

.containerSocial {
  width: 100%;
  height: 142px;
  // padding: 0 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_left {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0em;
    color: #252b42;
  }
  &_right {
    width: 112px;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }
}

.containerFooter {
  margin-top: 50px;
  width: 100%;
  height: 272px;
  display: flex;
  justify-content: space-between;
}

.footerEnd {
  width: 100%;
  height: 74px;
  background: #fafafa;
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #737373;
  position: absolute;
  padding: 0px 195px;
  left: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1440px) {
  footer {
    padding: 0 75px;
    .footerEnd {
      padding: 0 75px;
    }
  }
}

@media (max-width: 992px) {
  footer {
    padding: 0 58px;
    .containerSocial {
      padding: 0;
    }
    .containerFooter {
      height: unset;
      padding: 0 0 40px 0;
    }
    .footerEnd {
      padding: 0 58px;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .containerFooter {
      position: relative;
      height: 245px;
    }
    hr {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  footer {
    height: 100vh;
    padding: 0 40px;

    .containerSocial {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 0;
      gap: 12px;
    }
    .containerFooter {
      flex-direction: column;
      height: unset;
      gap: 30px;
      padding: 0;
    }
    .footerEnd {
      padding: 25px 0;
      p {
        text-align: center;
        width: 182px;
        margin: 0 auto;
      }
    }
  }
}
