.footerItem {
  display: flex;
  justify-content: space-between;
}

.containerFooterItem {
  height: 170px;
  &_title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
  }
  &_list {
    min-height: 126px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &_item {
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #737373;
  }
}

@media (max-width: 992px) {
  .containerFooterItem {
    height: unset;
    &_title {
      font-size: 14px;
    }
    &_item {
      font-size: 12px;
    }
    &_list {
      height: 100px;
      min-height: unset;
    }
  }
}
