.pinkProductCards {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 48px;
}

.pinkProductCard {
  width: 238px;
  height: 442px;
  background: #ffffff;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 10px rgba(245, 123, 75, 0.6);
    scale: 1.05;
    border-radius: 4px;
    background: #fff;
    scale: 1.1;
  }
  &_title {
    margin-top: 25px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
  }
  &_subtitle {
    margin-top: 10px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #737373;
  }
  &_price {
    margin-top: 10px;
    margin-left: 25px;
    padding: 5px 0;
    gap: 10px;
    display: flex;
  }
  &_old-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #bdbdbd;
  }
  &_new-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #23856d;
  }
}

@media (max-width: 1440px) {
  .pinkProductCard {
    &_title {
      margin-top: 0;
      font-size: 20px;
    }
  }
}

@media (max-width: 992px) {
  .pinkProductCard {
    width: unset;
    &_title,
    &_subtitle,
    &_price {
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  .pinkProductCards {
    flex-direction: column;
    align-items: center;
  }
  .pinkProductCard {
    width: 300px;
    height: 500px;
    text-align: center;
    &_image {
      width: 100%;
    }
    &_title,
    &_subtitle,
    &_price {
      margin-left: 0;
    }
  }
}

@media (max-width: 576px) {
  .pinkProductCards {
    align-items: unset;
  }
  .pinkProductCard {
    width: 100%;
    min-height: 500px;
    height: unset;
    &:hover {
      box-shadow: unset;
      scale: unset;
      border-radius: unset;
      background: #fff;
      scale: unset;
    }
    &_subtitle {
      margin-top: 5px;
    }
  }
}
