.postCards {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.containerPost {
  width: 348px;
  height: 606px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
  &_upper {
    width: 348px;
    height: 300px;
    position: relative;
  }
  &_new {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 3px;
    padding: 0px 10px;
    width: 58px;
    height: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    background: #e74040;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffffff;
  }
  &_image {
    object-fit: contain;
  }
  &_lowwer {
    height: 306px;
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_selection {
    display: flex;
    justify-content: space-between;
    width: 159px;
    height: 16px;
  }
  &_choice {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #737373;
  }
  &_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #252b42;
  }
  &_text {
    width: 280px;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #737373;
  }
  &_postInfo {
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_date {
    width: 98px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #737373;
  }
  &_comments {
    width: 105px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.02em;
    color: #737373;
  }
  &_learn {
    position: relative;
    width: 104px;
    height: 24px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #737373;
    text-align: left;
    img {
      position: absolute;
      bottom: 20%;
      right: 15%;
      opacity: 0;
      width: 0;
      visibility: hidden;
    }
    &:hover {
      img {
        opacity: 1;
        width: auto;
        right: 0%;
        visibility: visible;
        transition: all 1s;
      }
    }
  }
}

.blueColor {
  color: #8ec2f2;
}
